WORKER_URL= "cloudflare-worker-url"
HEARTBEAT_SECRET= "Run this command in the linux terminal "openssl rand -hex 32" and paste the output here"
SERVER_NAME="Home Server"
INTERVAL_SECONDS="Interval in seconds"
LOG_DIR="/app/logs"
LOG_FILE="/app/logs/cf-edge-watcher.log"
LOG_MAX_SIZE_MB="10"
LOG_MAX_FILES="2"

