CLOUDFLARE_ACCOUNT_ID="clouflare account ID"
CLOUDFLARE_API_TOKEN="cloudflare API Token"

WORKER_NAME="cloudflare-edge-watcher"
KV_BINDING="POWER_KV"
KV_NAMESPACE_TITLE="cloudflare-worker"

SERVER_ID="home-server"
SERVER_NAME="Home-server"
THRESHOLD_SECONDS="180" // If It didn't get the heartbeat (Ping) after 3 min (180 sec) it will send the message to telegram
CRON_EXPRESSION="*/1 * * * *" // cloudflare will every min for the status

TELEGRAM_BOT_TOKEN="Telegram bot token"
TELEGRAM_CHAT_ID=" Telegram chat ID it will start with "-" "
HEARTBEAT_SECRET="Same output you have used in the locaL/.env.example (Run this command in the linux terminal "openssl rand -hex 32" and paste the output here)"

INTERVAL_SECONDS="60" // In your local server it will do curl in every 60 sec
