TELEGRAM_BOT_TOKEN="Telegram bot token"
TELEGRAM_CHAT_ID="Telegram chat ID it will start with "-" "
HEARTBEAT_SECRET="Same output you have used in the locaL/.env.example (Run this command in the linux terminal "openssl rand -hex 32" and paste the output here)"